*{
    box-sizing: border-box;
    font-family: 'Open Sans';
}

h1{
    /*width: 608px;*/
    height: 155px;
    font-size: 56px;
    font-weight: 700;
    line-height: 59px;
    color: #262626;
}

h1 span{
    color: #0284C7;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*width: 1920px;*/
    
    height: 60px;
    background: #0284C7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media(min-width: 1024px){
    header{
        flex-direction: row;
    }
    .header{
        flex-direction: row;
    }
}
@media(min-wigth:425px){
    .record_text{
        font-size: 30px;

    }
    
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-grow: 1;
    /*position: absolute;*/
    
        

    /*background: #0284C7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}

.header_left{
    width: 179.97px;
    height: 48px;
    padding-top: 10px;
    font-family: 'Open Sans';
    font-size: 26px;
    color: #FFFFFF;
    font-weight: 700;
}

.navi{
    padding-top: 15px;

}

.navi_items{
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 22px;
    color: #FFFFFF;
    font-weight: 600;
    margin: 0 20px 0 20px;
    

}

.record{
    background-image: url(image/hero.png);
    width: 100%;
    background-position: center;
}

.record_content{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    flex-direction: column;
    padding-top: 137px;
}
.record_text{
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    /*max-width: 579px;*/
    color: #0C4A6E;
}

.button_record{
    background-color: #0EA5E9;
    border: none;
    color: #F0F9FF;
    text-decoration: none;
    width: 242px;
    height: 51;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 42px;
    margin-bottom: 72px;
}


