*{
    box-sizing: border-box;
    font-family: 'Open Sans';
}

h1{
    /*width: 608px;*/
    height: 155px;
    font-size: 56px;
    font-weight: 700;
    line-height: 59px;
    color: #262626;
}

h1 span{
    color: #0284C7;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*width: 1920px;*/
    
    height: 60px;
    background: #0284C7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media(min-width: 1024px){
    header{
        flex-direction: row;
    }
    .header{
        flex-direction: row;
    }
}
@media(min-wigth:425px){
    .record_text{
        font-size: 30px;

    }
    
}
.header{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-grow: 1;
    /*position: absolute;*/
    
        

    /*background: #0284C7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}

.header_left{
    width: 179.97px;
    height: 48px;
    padding-top: 10px;
    font-family: 'Open Sans';
    font-size: 26px;
    color: #FFFFFF;
    font-weight: 700;
}

.navi{
    padding-top: 15px;
    flex-wrap: wrap;
    display: flex;

}

.navi_items{
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 22px;
    color: #FFFFFF;
    font-weight: 600;
    margin: 0 20px 0 20px;
    

}

.record{
    background-image: url(image/hero.png);
    width: 100%;
    background-position: center;
}

.record_content{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    flex-direction: column;
    padding-top: 137px;
}
.record_text{
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    /*max-width: 579px;*/
    color: #0C4A6E;
}

.button{
    background-color: #0EA5E9;
    border: none;
    color: #F0F9FF;
    text-decoration: none;
    width: 242px;
    height: 51px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 42px;
    margin-bottom: 72px;
}

.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.services_location{
    background: #0284C7;
}

.serv_h2{
    display: flex;
    justify-content: center;
    margin-top: 84px;
    margin-bottom: 54px;
    font-size: 40px;
    line-height: 54px;
    font-weight: 700;
    color: #0369A1;
}

.types_services{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
   max-width: 1180px;
    padding: 64px 0 38px 0;
    
}

.services_items{
    width: 277px;
    height: 183px;
    border-radius: 20px;
    
}

.serv_number_p{
    font-size: 24px;
    line-height: 32px;
    font-family: 'Playfair Display';
    color: #FFFFFF;
}

.services_text{
    font-size: 16px;
    line-height: 21px;
    font-weight: 600px;
    color: #F0F9FF;
}

.serv_fon_1{
    background-image: url(image/service-1.png);
    background: linear-gradient(to rihgt, #50A3D1 57%, #F0F9FF 43%);

}

.serv_fon_2{
    background-image: url(image/service-2.png);
}

.serv_fon_3{
    background-image: url(image/service-3.png);
}

.arrow_left{
    height: 85px;
    width: 35px;
    transform: rotate(180deg);
}

.arrow_right{
    height: 85px;
    width: 35px;
}

.description{
    background: url(image/background-1.png);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.description_items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description_h2{
    padding-top: 46px;
    padding-bottom: 46px;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    color: #0C4A6E;
    
}

.description_texts{
    display: flex;
    flex-direction: column;
    gap: 45px;
    /*padding-bottom: 165px;*/
    max-width: 1180px;
}

.description_text{
    text-align: justify;
    font-size: 24px;
    line-height: 32px;
    color: #171717;
    text-align: justify;
    
}

.location_button{
    display: flex;
    justify-content: flex-end;
    max-width: 1180px;
    margin: auto;
    padding: 46px 0 67px 0;
}

.description_button{
    background-color: #0EA5E9;
    border: none;
    color: #F0F9FF;
    text-decoration: none;
    width: 242px;
    height: 51px;
    font-size: 18px;
    border-radius: 10px;
}

.reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1180px;
    margin: auto;
    
}

.reviews_h2{
    padding-top: 129px;
    padding-bottom: 83px;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    color: #0369A1;
}

.feedback_cards{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 50px;
    justify-content: space-between;
    padding-bottom: 154px;
}

.feedback_card{
    display: flex;
    border:1px solid #E5E5E5;
    border-radius: 20px;
    box-shadow: drop-shadow(1px 2px 4px rgba(115, 115, 115, 0.25));
    max-width: 580px;
    flex-grow: 1;

}

.feedback_img{
    width: 102px;
    height: 106px;
    border: 90px;
    margin: 30px 15px 35px 25px;
}

.feedback_elemts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feedback_h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #0284C7;
}

.feedback_text{
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #737373;
}

.branches{
    background: url(image/map-background.png)
}

.branches_center{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    max-width: 1180px;
    margin: auto;
    gap: 50px;
}

.branches_h2{
    margin: auto;
    color: #0369A1;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    padding-top: 55px;
}

.branch_card{
    border: 1px solid #0284C7;
    border-radius: 25px;
    background: #FFFFFF;
}

.branch_cards{
    display: flex;
    justify-content: center;
    gap: 23px;
    /*max-width: 1180px;
    margin: auto;*/
    padding-bottom: 50px;
}

.branch_card_detail{
    display: flex;
    gap: 10px;
    margin: 32px 10px 0 22px;
}

.branch_icon{
    width: 27px;
    height: 33px;
}

.branch_text{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #075985;
}

.branch_text span{
    font-weight: 600;
}

.branches_phone{
    color: #075985;
    font-size: 19px;
    line-height: 26px;
    font-weight: 600px;
    text-decoration: none;
    
}

footer{
    background: #F0F9FF;
}

.footer{
    max-width: 1180px;
    margin: auto;
}

.footer_head{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #075985;
    font-weight: 400;
    padding-top: 55px;
}

.facebook_style{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 18px;
    color: #075985;
    text-decoration: none;
    font-weight: 600;
}

.footer_center{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.icon_head{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #075985;
}

.footer_addresses{
    color: #075985;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.footer_numbers{
    display: flex;
    flex-direction: column;
}

.footer_number{
    color: #075985;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.footer_email{
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    color: #075985;
}

.footer_guarantees{
    display: flex;
    justify-content: flex-end;
    color: #075985;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    padding-top: 10px;
    padding-bottom: 69px;
}

